/* ---------------------------------------------- STRUCTURE ---------------------------------- */


/* Header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;    
    height: 80px;
    gap: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.logo img {
    width: 216px; 
    height: 14px;
    margin-top : 39px;
    margin-bottom : 35px;
    
}

header nav ul li a {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    width: 100%;
  }

  header nav ul li a:hover {
    font-weight: 700;
  }

  .header-menu {
    display: flex;
    gap: 45px;
    overflow: hidden;
    position:static;
    @media (max-width: 910px) {
      visibility: hidden;
    }
  }

  .header-menu a {
    text-decoration: none;
  }

  .header-menu li {
    list-style: none;
  }
  

/* Hero Header */

.hero-header {
  position: relative;
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-header img {
  max-height: 962px;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  object-position: center;
  @media (max-width: 768px) {
    max-height: 250px;
    width: 100%;
   height: 100%;
   }  
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-overlay h2 {
  font-family: 'Space Mono', monospace;
  font-size: 96px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-shadow: 0em 0em rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 38px;
   }  
} 


/* Menu Burger */

.burger_button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 30px;
  right: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  visibility: hidden; 
}

@media (max-width: 910px) {
  .burger_button {
    visibility: visible;
    margin-right: 6%;
  }
}

/* SPAN BOUTON BURGER */

.burger_button span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease; 

}
.burger_button.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg); /* Transformation pour la première barre */
}

.burger_button.active span:nth-child(2) {
  opacity: 0; /* Masque la deuxième barre lorsqu'elle est active */
}

.burger_button.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg); /* Transformation pour la troisième barre */
}


.fullscreen_menu {
  position: fixed; 
  left: 0;
  opacity:0;
  width: 100%;
  height: calc(100vh - 80px);
  background: #E00000; 
  z-index: 100;
  justify-content: center;
  align-items: center;
  visibility: hidden; /* Masque le menu pour les interactions */
  pointer-events: none; /* Empêche le menu de capturer les clics */
  transition: transform 0.5s ease, opacity 0.6s ease; /* Transition fluide */
  transform: translateY(100%); /* Menu hors écran */
}


/* Classe CSS pour rendre visible le FullscreenMenu */
.fullscreen_menu.is-visible {
  display: flex;
  visibility: visible; /* Permet les interactions */
  pointer-events: all; /* Active les clics */
  opacity: 1; 
  transform: translateX(0); /* Fait glisser le menu en position */

}

.menu-menu-1-container li {
  display: flex;
  list-style: none;
  font-size: 44PX;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullscreen_menu li a {
  display: flex;
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: 'Space Mono', monospace;
  text-decoration: none;
  margin-bottom: 20px;

  
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-mobile {
  gap: 20px;
  padding: 0;
}

.no-scroll {
  overflow: hidden; 
}



/* ------------------------------ MEDIA QUERIES ---------------------- */


@media (max-width: 767.98px) {

  header {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      gap: 28px;
      margin-left: 30px;
  }
  header nav ul li a {
    font-size: 16px;
  }


  .header-menu {
    margin: 0;
  }

  .logo img {
    width: 138px; 
    height: 9px;
   
    
}
}



