@charset "UTF-8";
/* ---------------------------------------------- STRUCTURE ---------------------------------- */
/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 80px;
  gap: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.logo img {
  width: 216px;
  height: 14px;
  margin-top: 39px;
  margin-bottom: 35px;
}

header nav ul li a {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  width: 100%;
}

header nav ul li a:hover {
  font-weight: 700;
}

.header-menu {
  display: flex;
  gap: 45px;
  overflow: hidden;
  position: static;
}
@media (max-width: 910px) {
  .header-menu {
    visibility: hidden;
  }
}

.header-menu a {
  text-decoration: none;
}

.header-menu li {
  list-style: none;
}

/* Hero Header */
.hero-header {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-header img {
  max-height: 962px;
  width: 100%;
  height: 100%;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  .hero-header img {
    max-height: 250px;
    width: 100%;
    height: 100%;
  }
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-overlay h2 {
  font-family: "Space Mono", monospace;
  font-size: 96px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-shadow: 0em 0em rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .hero-overlay h2 {
    font-size: 38px;
  }
}

/* Menu Burger */
.burger_button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 30px;
  right: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  visibility: hidden;
}

@media (max-width: 910px) {
  .burger_button {
    visibility: visible;
    margin-right: 6%;
  }
}
/* SPAN BOUTON BURGER */
.burger_button span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger_button.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg); /* Transformation pour la première barre */
}

.burger_button.active span:nth-child(2) {
  opacity: 0; /* Masque la deuxième barre lorsqu'elle est active */
}

.burger_button.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg); /* Transformation pour la troisième barre */
}

.fullscreen_menu {
  position: fixed;
  left: 0;
  opacity: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background: #E00000;
  z-index: 100;
  justify-content: center;
  align-items: center;
  visibility: hidden; /* Masque le menu pour les interactions */
  pointer-events: none; /* Empêche le menu de capturer les clics */
  transition: transform 0.5s ease, opacity 0.6s ease; /* Transition fluide */
  transform: translateY(100%); /* Menu hors écran */
}

/* Classe CSS pour rendre visible le FullscreenMenu */
.fullscreen_menu.is-visible {
  display: flex;
  visibility: visible; /* Permet les interactions */
  pointer-events: all; /* Active les clics */
  opacity: 1;
  transform: translateX(0); /* Fait glisser le menu en position */
}

.menu-menu-1-container li {
  display: flex;
  list-style: none;
  font-size: 44PX;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullscreen_menu li a {
  display: flex;
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: "Space Mono", monospace;
  text-decoration: none;
  margin-bottom: 20px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-mobile {
  gap: 20px;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

/* ------------------------------ MEDIA QUERIES ---------------------- */
@media (max-width: 767.98px) {
  header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 28px;
    margin-left: 30px;
  }
  header nav ul li a {
    font-size: 16px;
  }
  .header-menu {
    margin: 0;
  }
  .logo img {
    width: 138px;
    height: 9px;
  }
}
footer {
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: 1px solid black;
}
@media (max-width: 768px) {
  footer {
    padding: 0;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 86px;
}
@media (max-width: 768px) {
  .footer-menu {
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin: 0;
  }
}

footer nav ul li a {
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}

footer nav p {
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  footer nav p {
    padding: 0;
    margin: 0;
  }
}

.footer-menu a {
  text-decoration: none;
}

.footer-menu li {
  list-style: none;
}

/* STRUCTURE MODALE */
.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3764705882);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  display: none;
}

.popup-salon {
  z-index: 10000;
  background: white;
  max-width: 597px;
  height: auto;
  position: relative;
  border: 4px solid black;
  margin: 0;
  margin-top: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1405px) {
  .popup-salon {
    max-width: 440px;
    width: 95%;
    overflow: hidden;
    overflow-y: auto;
  }
}
@media (max-width: 1350px) {
  .popup-salon {
    max-width: 400px;
    width: 95%;
    height: 92vh;
    overflow: hidden;
    overflow-y: auto;
  }
}
@media (max-width: 1205px) {
  .popup-salon {
    max-width: 400px;
    width: 95%;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
  }
}
@media (max-width: 440px) {
  .popup-salon {
    max-width: 350px;
    width: 82%;
    height: 90vh;
    overflow: hidden;
    overflow-y: auto;
  }
}

/* FORMULAIRE */
#wpcf7-f32-o1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input.wpcf7-form-control {
  border: 1px solid rgb(184, 187, 194);
  border-radius: 8px;
  height: 40px;
  width: 100%;
}

textarea.wpcf7-form-control {
  border: 1px solid rgb(184, 187, 194);
  border-radius: 8px;
  height: 179px;
  width: 100%;
  margin-top: 5px;
}

input.wpcf7-form-control.wpcf7-submit {
  width: 100%;
  height: 50px;
  padding: 8px 15px;
  background: rgb(216, 216, 216);
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  border-radius: 3px;
}

.wpcf7-response-output {
  display: none;
}

.formulaire p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.popup-header img {
  margin-top: -2px;
}

/* Premier bloc */
.conteneur {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 20px;
}
@media (max-width: 968px) {
  .conteneur {
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid black;
  }
}

.information-photo {
  margin-left: 100px;
  width: 50%;
  height: 100%;
  margin-top: auto;
  border-bottom: 1px solid black;
}
@media (max-width: 968px) {
  .information-photo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    border: none;
  }
}

.information-photo .titre-photo {
  font-family: "Space Mono", monospace;
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
  position: relative;
  width: -moz-min-content;
  width: min-content;
  flex-direction: column;
}
@media (max-width: 968px) {
  .information-photo .titre-photo {
    width: -moz-min-content;
    width: min-content;
  }
}

.information-photo .info {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  position: relative;
  flex-direction: column;
  margin-bottom: 20px;
  color: black;
}
@media (max-width: 768px) {
  .information-photo .info {
    font-size: px;
  }
}

.information-photo ul {
  padding-left: 0;
}
@media (max-width: 768px) {
  .information-photo ul {
    padding-left: 0%;
  }
}

.information-photo li {
  list-style: none;
  gap: 20px;
}

.affichage-photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}
@media (max-width: 968px) {
  .affichage-photo {
    justify-content: center;
    margin: 0;
  }
}

.affichage-photo img {
  max-width: 563px;
  width: 100%;
  margin-left: 21px;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: auto;
  height: 697px;
}
@media (max-width: 768px) {
  .affichage-photo img {
    margin: 0;
    height: 397px;
  }
}

/* Contact block */
.contact_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-left: 100px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 968px) {
  .contact_block {
    margin-left: 0;
  }
}

.contact {
  display: flex;
  gap: 50px;
  width: 750px;
}
@media (max-width: 968px) {
  .contact {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

.contact p {
  display: flex;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 100%;
}
@media (max-width: 768px) {
  .contact p {
    font-size: 18px;
  }
}

.contact_button {
  height: 50px;
  min-width: 90px;
  max-width: 222px;
  width: 57.4%;
  background-color: #D8D8D8;
  border: none;
  border-radius: 2px;
  font-family: "SpaceMono_Regular", monospace;
  font-size: 12px;
  outline: none;
}

/*  NAVIGATION PHOTOS */
.nav_photo {
  margin-left: auto;
}
@media (max-width: 968px) {
  .nav_photo {
    display: none;
  }
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav_photo .miniatureprev {
  opacity: 0;
  top: 850px;
  width: 81px;
  height: 71px;
  position: absolute;
  transition: opacity 0.2s ease; /* Transition fluide */
  right: 12%;
}
@media (min-width: 1358px) {
  .nav_photo .miniatureprev {
    right: 10%;
  }
}
@media (max-width: 1350px) {
  .nav_photo .miniatureprev {
    right: 14%;
  }
}
@media (max-width: 1208px) {
  .nav_photo .miniatureprev {
    right: 14%;
  }
}

.nav_photo .miniaturenext {
  opacity: 0;
  top: 850px;
  width: 81px;
  height: 71px;
  position: absolute;
  transition: opacity 0.2s ease; /* Transition fluide */
}

.miniatureprev:hover {
  opacity: 1;
}

.miniaturenext:hover {
  opacity: 1;
}

.next-post-arrow:hover .miniature,
.prev-post-arrow:hover .miniature {
  display: block;
}

.custom_arrow {
  font-size: 24px;
  margin: 0 10px;
}

/* Recommandation section */
.recommandations {
  margin-top: 55px;
  margin-left: 100px;
}
@media (max-width: 768px) {
  .recommandations {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .title_reco {
    display: flex;
    justify-content: center;
  }
}

.title_reco h3 {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.related-photos {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
@media (max-width: 1205px) {
  .related-photos {
    flex-direction: column;
    align-items: center;
  }
}

.related-photo {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .related-photo {
    margin-bottom: 40px;
  }
}

.related-photo img {
  width: 500px;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .related-photo img {
    width: 318px;
    height: 280px;
  }
}

/* Gestion des filtres */
/* #photo-category-filter {
    margin-left: 19vw;
    padding: 11px 18px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
    letter-spacing: 0.36px;
    @media (max-width: 768px) {
        margin: 0 10vw 0 10vw;
       }  
}


#photo-format-filter {
    margin-left: 36px;
    padding: 11px 18px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1.3px solid #B8BBC2;
    background: #FFF;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
    letter-spacing: 0.36px;
    @media (max-width: 768px) {
        margin: 0 10vw 0 10vw;
       }  
}

#photo-sort {
    margin-left: auto;
    padding: 11px 18px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1.3px solid #B8BBC2;
    background: #FFF;
    margin-right: 20%;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
    letter-spacing: 0.36px;
    @media (max-width: 768px) {
        margin: 0 10vw 0 10vw;
       }  
}
 */
/* SELECT */
.filter-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.select2-search--dropdown {
  display: none !important;
  padding: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 11px !important;
  right: 1px;
  width: 20px;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: auto !important;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Conteneurs de Select2 */
#photo-format-filter {
  margin-right: 10%;
}

#photo-sort {
  margin-left: auto;
  margin-right: 5% !important;
}

.select2-container {
  width: 180px !important;
}

/* Champs de saisie de Select2 */
.select2-selection {
  border: 1.3px solid #B8BBC2 !important;
  border-radius: 8px !important;
  background-color: #fff !important;
  padding: 11px 18px !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
  letter-spacing: 0.36px !important;
  display: flex;
  align-items: center;
  align-content: center;
}

.select2-selection__rendered {
  padding: 0;
  line-height: normal;
}

/* Options de la liste déroulante */
.select2-results__option {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.36px;
  padding: 8px 12px;
}

/* Option au hover */
.select2-results__option--highlighted {
  background-color: #FFD6D6 !important;
  color: inherit !important;
}

/* Option sélectionnée */
.select2-results__option--selected {
  background-color: #E00000 !important;
  color: #fff !important;
}

/* Conteneur de la liste déroulante */
.select2-dropdown {
  border: 1.3px solid #B8BBC2 !important;
  border-radius: 8px !important;
}

.filtertax {
  display: flex;
  gap: 36px;
}

/* Responsive */
@media (max-width: 768px) {
  .filtertax {
    display: flex;
    flex-direction: column;
    gap: 10px !important;
  }
  .filter-controls {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  #photo-category-filter,
  #photo-format-filter,
  #photo-sort {
    margin-left: 0;
    margin-right: 0;
  }
  .select2-container {
    width: 80vw !important;
  }
}
/* Affichage des photos */
.affichage_photo-fp {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  font-family: "Poppins";
}
@media (min-width: 1747px) {
  .affichage_photo-fp {
    margin-left: 140px;
    margin-right: 140px;
  }
}
@media (max-width: 768px) {
  .affichage_photo-fp {
    margin-top: 30px;
  }
}

.affichage_photo-fp img {
  width: 564px;
  height: 495px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .affichage_photo-fp img {
    margin-right: 0;
    max-width: 420px;
    max-height: 380px;
    height: 100%;
    margin: 0 15px 0 15px;
  }
}

.button_area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button_area button {
  cursor: pointer;
  width: 272px;
  height: 50px;
  padding: 8px 15px;
  border-radius: 2px;
  border: none;
  background: #D8D8D8;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.button_area button:hover {
  background: #000;
  color: #FFF;
}

/* Hover du Photoblock */
.photo-container {
  position: relative;
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
  box-sizing: border-box;
}

/* Infos sur Overlay */
.photo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .photo-info {
    justify-content: space-around;
  }
}

.title_hov {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.categorie_hov {
  color: #FFF;
  text-align: right;
  font-family: "Space Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.photo-container:hover .photo-overlay {
  opacity: 1;
}

.photo-eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.photo-eye img {
  width: 46px;
  height: 31.204px;
}

.photo-container:hover .photo-eye {
  opacity: 1;
}

.photo-open {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
}
.photo-open img {
  width: 34px;
  height: 34px;
}

.photEye {
  cursor: pointer;
}

/* OVERLAY LIGHTBOX */
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.lightbox-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lightbox-image {
  max-width: 80vw;
  max-height: 90vh;
}

.close-lightbox {
  position: absolute;
  top: 55px;
  right: 55px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.5;
}

.close-lightbox:hover {
  opacity: 1;
}

.navigation2 {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navigation2 {
    margin: 80% 0;
    justify-content: center;
  }
}

.navigation2 span {
  font-family: "Space Mono", monospace;
  color: #fff;
  font-size: 12px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.7;
}

.navigation2 span:hover {
  opacity: 1;
}

.next_span {
  padding-right: 20px;
}

.prev_span {
  padding-left: 20px;
}

.prev, .next {
  font-size: 8vh;
  cursor: pointer;
  vertical-align: top;
}

.lightboxText {
  display: flex;
  justify-content: space-around;
  bottom: 1vh;
  left: 1vw;
  color: #ffffff;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  flex-direction: row;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
/* Application de l'animation au chargement de la page */
.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.6s; /* Durée totale de l'animation */
  animation-timing-function: ease-in; /* Type de transition */
  animation-fill-mode: forwards; /* Maintiens le style final après l'animation */
}

.fade-in2 {
  animation-name: fadeIn;
  animation-duration: 0.8s; /* Durée totale de l'animation */
  animation-timing-function: ease-in; /* Type de transition */
  animation-fill-mode: forwards; /* Maintiens le style final après l'animation */
}

.body {
  margin-right: 90px;
}
@media (max-width: 968px) {
  .body {
    margin-right: 0;
  }
}/*# sourceMappingURL=main.css.map */